.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.wrapper.flex {
  display: flex;
  padding: 2rem;
}

.movieWrapper.block {
  margin: 1rem;
  border: 1px solid #fff;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding: 2rem;
  background: #fff;
  color: #282c34;
}

.inner-wrap span {
  display: block;
  margin: .25rem;
  font-size: 1.2rem;
}

h3 {
  margin: 0;
}

a.movie-card,
a.movie-list {
  text-decoration: none;
}